@import '@/styles/partials/mixins';
@import '@/styles/partials/settings';

.tabs {
  padding: 32px 0 0;
  left: 0;

  @include for-desktop-up {
    margin-top: 60px;
    top: 80px;
    position: sticky;
    background: #fff;
    z-index: 100;
    padding: 20px 0 20px;
  }

  &Box {
    padding: 16px 32px;
    border-radius: 12px;
    background: #f6f6f6;
    width: auto;
    max-width: fit-content;
    display: flex;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;

    @include for-desktop-up {
      gap: 36px;
    }
  }

  &Item {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    @include for-desktop-up {
      font-size: 20px;
    }

    &::after {
      position: absolute;
      content: '';
      height: 4px;
      border-radius: 9px;
      background: #f36717;
      width: 0;
      transition: width 0.3s ease-in-out;
      left: 0;
      bottom: -16px;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
