@import '@/styles/partials/mixins';
@import '@/styles/partials/settings';

.button {
  width: 100%;
  min-width: 145px;
  max-width: fit-content;
  padding: 13px 24px 14px 24px;
  border-radius: 8px;
  background: #000;
  transition: background 0.3s ease-in-out;

  span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }
}
