@import '@/styles/partials/mixins';
@import '@/styles/partials/settings';

.manage {
  padding: 40px 0;

  @include for-desktop-up {
    padding: 80px 0;
  }

  &Title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
  }

  &List {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 24px;
    gap: 12px;

    @include for-desktop-up {
      grid-template-columns: minmax(200px, 364px) minmax(300px, 1fr) minmax(200px, 364px);
      gap: 30px;
      margin-top: 40px;
    }
  }

  &ListGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include for-desktop-up {
      gap: 16px;
    }
  }

  &Image {
    display: none;

    @include for-desktop-up {
      justify-self: center;
      align-self: center;
      width: 100%;
      max-width: 398px;
      height: auto;
      display: block;
    }
  }

  &Item {
    border-radius: 12px;
    background: #f6f6f6;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-desktop-up {
      padding: 32px;
    }
  }

  &ItemTitle {
    color: #000;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: normal;

    @include for-desktop-up {
      font-size: 24px;
    }
  }

  &ItemText {
    margin-top: 16px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    @include for-desktop-up {
      font-size: 16px;
    }
  }
}
